:root {
    --bg-image: url("chalkboard-background.jpg");
    --bg-color: hsl(303, 6%, 27%);
    --main-color: hsl(303,80%,50%);
    --accent-color: hsl(197, 80%,50%);
}

body {
    background-color: var(--bg-color);
    background-image: var(--bg-image);
    background-size: cover;
}

.display-container-outer {
    background-color: var(--main-color);
    width: 40%;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 0;
    border-radius: 5px 5px 0px 0px; /* top-left, top-right, bot-right, bot-left */
}
.display-container {
    background-color: var(--accent-color);
    text-align: center;
    min-height: 100px;
    width: 100%;
    margin: 10px auto;
    border: 1px solid black;
}

#display {
    font-size: 50px;
}

.button-container {
    background-color: var(--main-color);
    display: grid;
    place-items: center;
    width: 40%;
    height: 50vh;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    gap: 5px;
    margin: 0 auto;
    border-top: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0px 0px 5px 5px; /* top-left, top-right, bot-right, bot-left */
}

button {
    background-color: var(--accent-color);
    width: 100%;
    height: 100%;
    font-size: 50px;
}
